<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Column for Graph Inference</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container col-md-5">
        <h2 class="text-center">Select Columns for Graph Inference</h1>
        <form id="inferenceForm" action="/perform_inference" method="post">
          <div class="d-flex flex-column bd-highlight "> 
            <div class="form-group mt-3">
                <label class="col-form-label-lg" for="labelColumnSelect" >Select Label:</label>
                <small id="labelHelp" class="form-text text-muted"
                ><p>
                  This column will be used as the label for the nodes in the graph. For example, if you select a column with "manager", then the graph will have nodes with manager as the label.
                </p></small
              >
                <select class="form-control" id="labelColumnSelect" name="selectedLabelColumn">
                    {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select> 
            </div>
            {% if infer_required %}
            <div class="form-group">
                <label class="col-form-label-lg" for="edgeInferColumnSelect">Select Column to Infer Edges:</label>
                <small id="inferHelp" class="form-text text-muted"
            ><p>
              This column will be used to infer edges between nodes. For example, if you select a column with the name "class", then the graph will have edges within the same class.
            </p></small
          >
                <select class="form-control" id="edgeInferColumnSelect" name="selectedEdgeInferColumn">
                    {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
          </div>
          
          <div id="loadingArea" style="display: none" class="text-center">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <p class="text-secondary">Data Processing, Please wait...</p>
        </div>

          <div class="d-flex justify-content-around mt-4">
            <button type="submit" class="btn btn-primary"> {% if infer_required %}Infer Graph {%else%}Use Label {% endif %}</button>
            <button type="button" class="btn btn-warning custom-button-size" onclick="window.location.href='{{ url_for('upload_user_data') }}';">Back to Upload</button>
          </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('inferenceForm').addEventListener('submit', function() {
                document.getElementById('loadingArea').style.display = 'block';
            });
        });
    </script>
</body>
</html>
